
.controlsWrapper {
display: flex;
justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: center;
}

.contactName {
  font-size: 22px;
  font-weight: bold;
  line-height: 100%;
  padding: 10px 0;
}

.btn,
.btnDanger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #377dff;
  padding: 8px 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.btnWrapper {
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.btn:disabled,
.btn:disabled::after,
.btnDanger:disabled,
.btnDanger:disabled::after {
  background-color: #a7a7a7;
  cursor: unset;
}

.btn::after,
.btnDanger::after {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  border-radius: 4px;
  transform: scale(0);
  z-index: -1;
  transition: 0.2s ease-in;
}

.btn::after {
  background-color: #90be6a;
}

.btnDanger::after {
  background-color: #ff7637;
}

.btn:hover::after,
.btnDanger:hover::after {
  transform: scale(1);
}

.checkboxWrapper {
  position: relative;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

}

.checkboxLabel {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkboxLabel::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #666666;
  border-radius: 4px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox:checked + .checkboxLabel::before {
  border-color: #377dff;
  background-color: #377dff;
  background-image: url("../../img/check-box-icon.svg");
  background-size: 90%;
}

.checkboxLabel:hover::before {
  cursor: pointer;
}
